In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/crimes.csv')

In [3]:
dados.head()

,id,bairro,created_at,descricao,endereco,id.1,ip_address_origin,latitude,longitude,registrou_bo,...,Estepe,MP4 ou Ipod,Móveis,Notebook,Outros,Relógio,Som,Tablet,Tv,time
0,49787,Butantã,2015-06-16 23:34:01.000,"5 bandidos, armas, entraram em casa e vasculha...","Avenida Trona Constanzo, 177, Butantã",49787,NaN,-23.580973,-46.719192,True,...,NaN,True,NaN,True,NaN,NaN,True,True,True,2010-12-20 20:30:00.000
1,10679,Itaquera,2013-09-11 18:26:31.819,"Meu caso foi para o Pequenas Causas, ganhamos ...","Avenida José Pinheiro Borges, 450-876 - Itaque...",10679,187.11.1.51,-23.540105,-46.462872,True,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,2012-01-11 14:00:00.000
2,10682,Itaquera,2013-09-11 18:42:07.858,"Meu caso foi para o Pequenas Causas, ganhamos ...",Rua Corínthians - Itaquera - Shopping Metrô It...,10682,189.19.160.82,-23.541765,-46.469562,True,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,2012-01-11 14:00:00.000
3,6166,Morumbi,2013-08-20 11:56:52.717,"Estava parada no semáforo, o bandido veio e es...","Rua Pasquale Gallupi, 347 - Morumbi, São Paulo...",6166,199.67.140.46,-23.611693,-46.725935,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-11 18:20:00.000
4,6521,Alto de Pinheiros,2013-08-20 17:41:21.569,Arrombaram o porta malas do meu carro e levara...,"Avenida Professor Fonseca Rodrigues, 1655 - Al...",6521,187.92.158.154,-23.544564,-46.721567,True,...,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,2012-01-11 08:15:00.000

In [4]:
print(f'Linhas: {dados.shape[0]}')
print(f'Colunas: {dados.shape[0]}')

Linhas: 12899
Colunas: 12899

In [5]:
dados.describe()

,id,id.1,latitude,longitude,sexo,tipo_assalto_id,user_id,valor_prejuizo
count,12899.000000,12899.000000,12899.000000,12899.000000,12899.000000,12899.000000,1166.000000,12899.000000
mean,45901.500194,45901.500194,-23.566805,-46.636817,0.612528,3.230483,16920.901372,2745.264592
std,24974.232979,24974.232979,0.366295,0.439810,0.487192,2.831739,5056.911119,11115.126241
min,21.000000,21.000000,-26.473037,-52.173376,0.000000,1.000000,1900.000000,0.000000
25%,25176.500000,25176.500000,-23.607056,-46.696776,0.000000,2.000000,13039.500000,25.000000
50%,44565.000000,44565.000000,-23.567079,-46.648535,1.000000,2.000000,16914.500000,700.000000
75%,68446.500000,68446.500000,-23.541510,-46.606492,1.000000,3.000000,21038.250000,2000.000000
max,88573.000000,88573.000000,-0.013911,0.004533,1.000000,11.000000,25802.000000,1000000.000000

In [6]:
dados.corr()

,id,id.1,latitude,longitude,sexo,tipo_assalto_id,user_id,valor_prejuizo
id,1.000000,1.000000,0.027791,0.017111,0.024007,0.155599,0.903237,0.009185
id.1,1.000000,1.000000,0.027791,0.017111,0.024007,0.155599,0.903237,0.009185
latitude,0.027791,0.027791,1.000000,0.554068,0.014097,0.003093,0.016073,-0.000255
longitude,0.017111,0.017111,0.554068,1.000000,0.013717,0.004422,-0.000424,0.007025
sexo,0.024007,0.024007,0.014097,0.013717,1.000000,0.063221,-0.001027,0.042932
tipo_assalto_id,0.155599,0.155599,0.003093,0.004422,0.063221,1.000000,-0.017638,0.088314
user_id,0.903237,0.903237,0.016073,-0.000424,-0.001027,-0.017638,1.000000,0.023148
valor_prejuizo,0.009185,0.009185,-0.000255,0.007025,0.042932,0.088314,0.023148,1.000000

In [ ]:
dados['time_atualizado']= [dados['time'].str.split(' ')[i][0] for i in range(len(dados))]
dados['time_atualizado'].to_datetime
dados['created_at_atulizado']= [dados['created_at'].str.split(' ')[i][0] for i in range(len(dados))]
dados['created_at_atulizado'].to_datetime

In [ ]:
dados['time_atualizado'].to_datetime
dados['created_at_atulizado'].to_datetime

AttributeError: 'str' object has no attribute 'to_datetime'